{% extends "base.html" %}

{% block content %}

<h1 class="title">
  {{ name }} {{surname}}
</h1>
<form method="POST" action="/become_friends">
  <input type="hidden" name="user_id_1" value="{{user_id_1}}">
  <input type="hidden" name="user_id_2" value="{{user_id_2}}">
  <button class="button">become friends</button>
</form>
<br>
<h1 class="title">
  {{ gender }}
</h1>
<h1 class="title">
  {{ age }} years old
</h1>
<h1 class="title">
  lives in {{ city }}
</h1>
<h1 class="title">
  interested in {{ interests }}
</h1>
{% endblock %}
