{% extends "base.html" %}

{% block content %}

<h1 class="title">
  {{ name }} {{surname}}
</h1>
{% if is_friend == False and is_current_user == False %}
<form method="POST" action="/become_friends">
  <input type="hidden" name="user_id" value="{{id}}">
  <button class="button">become friends</button>
</form>
{% endif %}
{% if is_friend == True %}
<h1 class="title">
  is your friend
</h1>
{% endif %}
<br>
<h1 class="title">
  {{ gender }}
</h1>
<h1 class="title">
  {{ age }} years old
</h1>
<h1 class="title">
  lives in {{ city }}
</h1>
<h1 class="title">
  interested in {{ interests }}
</h1>
{% if friends %}
<h1 class="title">
  is friends with : 
</h1>
{% for friend in friends %}
<a href="/profile/{{friend.id}}">
    {{friend.name}} {{friend.surname}}
</a>
<br>
{% endfor %}
{% endif %}
{% endblock %}
