{% extends "base.html" %}

{% block content %}

<h1 class="title">
  {{ name }} {{surname}}
</h1>
{% if become_friends_action == True %}
<form method="POST" action="/become_friends">
  <input type="hidden" name="user_id" value="{{user_id}}">
  <button class="button">become friends</button>
</form>
{% endif %}
<br>
<h1 class="title">
  {{ gender }}
</h1>
<h1 class="title">
  {{ age }} years old
</h1>
<h1 class="title">
  lives in {{ city }}
</h1>
<h1 class="title">
  interested in {{ interests }}
</h1>
{% endblock %}
